<ion-view title="Change User Details" id="page12">
    <ion-content padding="true" class="has-header">
        <form id="changeUserDetails-form7" class="list">
            <label class="item item-input" id="changeUserDetails-input5">
                <span class="input-label">Name:</span>
                <input type="text" placeholder="Two and a Half Indians">
            </label>
            <label class="item item-input" id="changeUserDetails-input6">
                <span class="input-label">Credit Card Number:</span>
                <input type="number" placeholder="XXXXXXXX">
            </label>
            <label class="item item-input" id="changeUserDetails-input7">
                <span class="input-label">License Plate Number:</span>
                <input type="number" placeholder=" XXXXXXXX">
            </label>
        </form>
        <a ui-sref="parkOff.settings" id="changeUserDetails-button12" class="button button-positive  button-block">Save User Details</a>
    </ion-content>
</ion-view>