<ion-view title="Status" hide-back-button="true" id="statusModal.html">
    <ion-content padding="true" class="has-header">

     <div class="button-bar bar-light">
  <a class="button icon-left ion-qr-scanner" ng-click="showHome()">Scan</a>
  <a class="button icon-left ion-search" ng-click="searchFunction()">Search</a>
  <a class="button icon-left ion-android-car" ng-click="statusTab()">Status</a>
</div>
        <h3 id="status-heading2" style="color:#000000;font-weight:300;">You have not parked a car!</h3>


    </ion-content>
</ion-view>