<ion-view title="End Booking" hide-back-button="true" id="page11">
    <ion-content padding="true" class="has-header">
        <h1 id="endBooking-heading5" style="color:#000000;font-weight:300;text-align:center;">Payment</h1>
        <form id="endBooking-form9" class="list">
            <label class="item item-input" id="endBooking-textarea4">
                <span class="input-label">Your Bill is ${{price}}</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-select" id="endBooking-select4">
                <span class="input-label">Available Cards</span>
                <select>
                    <option>Visa(****-****-****-1958)</option>
                    <option>MasterCard(****-****-****-2056)</option>
                    <option>Visa(****-****-****-2136)</option>
                </select>
            </label>
        </form>
        <a ng-click="showSuccess()" id="endBooking-button13" class="button button-assertive  button-block">Make payment</a>
    </ion-content>
</ion-view>