<ion-view title="Extend Booking" id="page10">
    <ion-content padding="true" class="has-header">
        <ion-list id="extendBooking-list5">
            <ion-item class="range range-balanced" id="extendBooking-range4">Extend Booking Duration
                <input type="range" value="0" min="0" max="48" step="0.5">
            </ion-item>
        </ion-list>
        <a ui-sref="parkOff.status" id="extendBooking-button10" class="button button-assertive  button-block">Confirm Extend Booking</a>
    </ion-content>
</ion-view>