<ion-view title="Extend Booking" id="page10">
    <ion-content padding="true" class="has-header">
        <form id="scanResult-form8" class="list">
            <label class="item item-select" id="scanResult-select2">
                <span class="input-label">Booking Duration</span>
                <select ng-model="option.duration">
                    <option value="0.5">0.5</option>
                    <option value="1">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2.0</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3.0</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4.0</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5.0</option>
                </select>
            </label>
        </form>
        <a ng-click="extendFinish()" id="extendBooking-button10" class="button button-assertive  button-block">Confirm Extend Booking</a>
    </ion-content>
</ion-view>