<ion-view title="Home" hide-back-button="true" id="page1">
    <ion-content padding="true" class="has-header">
        <a ui-sref="parkOff.qRScanner" id="home-button1" class="button button-balanced button-large button-block">Scan</a>
        <form id="home-form5" class="list">
            <label class="item item-input" id="home-input3">
                <span class="input-label">Enter Key:</span>
                <input type="text" placeholder="Enter Key">
            </label>
        </form>
        <a ui-sref="parkOff.scanResult" id="home-button2" class="button button-positive  button-block">Submit</a>
    </ion-content>
</ion-view>