<ion-view title="Scan Result" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list id="scanResult-list4">
            <ion-item class="item-icon-left" id="scanResult-list-item19">
                <i class="icon ion-ios-location"></i>Location
                <span class="item-note">Lim Chu Kang Road</span>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="scanResult-list-item20">
                <i class="icon ion-ios-location"></i>Lot Number
                <span class="item-note">492</span>
                <i class="icon ion-flag"></i>
            </ion-item>
            <ion-item class="range range-balanced" id="scanResult-range3">Booking Duration
                <input type="range" value="0" min="0" max="48" step="0.5">
            </ion-item>
        </ion-list>
        <a ui-sref="parkOff.status" id="scanResult-button5" class="button button-assertive  button-block">Confirm Booking</a>
    </ion-content>
</ion-view>