<ion-view title="Search" id="page2">
    <ion-content padding="true" class="has-header">
        <div class="button-bar bar-light">
  <a class="button icon-left ion-qr-scanner" ng-click="showHome()">Scan</a>
  <a class="button icon-left ion-search" ng-click="searchFunction()">Search</a>
  <a class="button icon-left ion-android-car" ng-click="statusTab()">Status</a>
</div>
        <h3 id="search-heading1" style="color:#000000;">Nearby Lots</h3>
        <div style="height:400px; width:400px;">
        <div id="map" data-tap-disabled="true" ></div>
    </div>

        <ion-list id="search-list2">

        
            <ion-item class="item-icon-right" id="search-list-item8">52 Nayang Avenue
                <span class="item-note">{{count}} available</span>
                <i class="icon ion-android-car"></i>
            </ion-item>
            <!--
            <ion-item class="item-icon-right" id="search-list-item12">Junction 10
                <span class="item-note">400 available</span>
                <i class="icon ion-android-car"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="search-list-item14">Bukit Panjang Plaza
                <span class="item-note">400 available</span>
                <i class="icon ion-android-car"></i>
            </ion-item>
        -->
        </ion-list>
    </ion-content>
</ion-view>