<ion-view title="Settings" hide-back-button="true" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="settings-list3">
            <ion-item class="item-thumbnail-left positive" id="settings-list-item17">
                <h2positive>Card Info
                    <p>12345-4353423</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="settings-list-item18">
                <h2positive>Licence Plate Number
                    <p>SXXXXXX</p>
                </h2positive>
            </ion-item>
        </ion-list>
        <a ui-sref="parkOff.changeUserDetails" id="settings-button6" class="button button-positive  button-block">Change User Details</a>
    </ion-content>
</ion-view>