<ion-view title="Status" hide-back-button="true" id="page3">
    <ion-content padding="true" class="has-header">
        <h3 id="status-heading2" style="color:#000000;font-weight:300;">Time booked: XX to XX</h3>
        <h3 id="status-heading4" style="color:#000000;font-weight:300;">Lot Number: XXX</h3>
        <a ui-sref="parkOff.extendBooking" id="status-button3" class="button button-positive  button-block">Extend Booking</a>
        <a ui-sref="parkOff.endBooking" id="status-button4" class="button button-positive  button-block">End Booking Now</a>
    </ion-content>
</ion-view>